html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.header-wrapper{
    padding: 0px 15px 20px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.wrap > .container {
    padding: 0 15px 20px;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }

.add-to-cart{
    background: none repeat scroll 0 0 #fe980f;
    border: 0 none;
    border-radius: 0;
    color: #ffffff;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.add-to-cart:hover, .add-to-cart:visited{
    color: #ffffff;
}


.product-information input.qty {
    border: 1px solid #dededc;
    color: #696763;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 33px;
    outline: medium none;
    text-align: center;
    width: 50px;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background: #555;
    color: #fff;
}

.productCategoryContainer {

    float: left;
    height: 100%;
    width: 16.87em;
}

.productCategoryContainer .textContainer a {
    display: block;
    font-size: 1.15em;
}

.productCategoryContainer .header {
    color: #444;
    display: block;
    font-size: 1.15em;
    font-weight: bold;
    padding: 0.62em 0;
}

.item-wrapper {
    height: 400px;
    width: 20%;
}
.thumbnail{
    height: 380px;
}
/*.metric{
    height: 50px;
    position: absolute;
    overflow: hidden;
}
.metric:hover{
    height: 250px
}*/

.alert-success {
    font-size: 1.5em;
    height: 110px;
    width: 18%;
    z-index:99;
    margin: 0 auto;
    top:50px;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
}
.alert-success a{
    font-size: 1em;
}

.timer .countdown {
    width: 160px;
    padding: 0px 0;
    font-size: 1.5em;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
    color:red !important;
}

.container-full {
  margin: 0 auto;
  width: 90%;
}